<div ng-app="codeSnip" class="container-fluid table-responsive" ng-controller="addCodeSnippetController">
    <form>
        <div class="row">&nbsp;</div>
        <div class="form-group col-md-2">
            <label for="language">Category</label>
            <select id="language" class="form-control" ng-model="language" title="Select Category">
                <option value="">Select</option>
                <option ng-repeat="language in languages" value="{{language.languageName}}">{{language.languageName}}</option>
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="title"> Title </label>
            <input id="title" class="form-control" type="text" ng-model="title">
        </div>
        <div class="form-group col-md-10">
            <label for="codeSnip"> Code Snippet </label>
            <textarea id="codeSnip" class="form-control" rows="10" cols="100" ng-model="codeSnip"></textarea>
        </div>
        <div class="form-group col-md-10">
                <label for="codeSnip"> URL Reference </label>
                <input id="urlreference" class="form-control" type="text" ng-model="urlreference">
        </div>
        <div class="row">&nbsp;</div>
        <div class="form-group col-md-10">
            <center>
                <button type="button" class="btn btn-primary" ng-click="addCodeSnippet();">Submit</button>
                 <button type="button" class="btn btn-primary" ng-click="Back();">Back</button>
            </center>
        </div>
    </form>
</div>