<div class="container-fluid" ng-controller="adminController">
    <div class="row">&nbsp;</div>

    <div class="row">
        <h4><b>Add New category</b></h4>
    </div>
    <div class="row">&nbsp;</div>

    <div ng-controller="languageController" class="row table-responsive" > 
        <div class="row">
            <div class="form-group col-sm-6">
                &nbsp;<label for="categoryName"><h4> Category Name </h4></label>
                <input  id="categoryName" class="form-control" ng-model="languageName"></input>
            </div>
            <div class="form-group col-sm-4">
                    <label for="language"> <h4>Category Type</h4></label>
                    <select id="language" class="form-control" ng-model="categoryType" title="Select Category Type">
                        <option value="">Select</option>
                        <option value="Tools">Tools</option>
                        <option value="Languages">Languages</option>
                        <option value="Frameworks">Frameworks</option>
                        <option value="Libraries">Libraries</option>
                        <option value="Libraries">Others</option>
                    </select>
                </div>
        </div>
        <div class="row">
            <div class="form-group">
                    <div class="col-sm-6" align="left">
                        <button type="button" class="btn btn-primary" ng-click="addCategory();">Submit</button>
                        <a class="btn btn-primary" href="#manageCategories">Back</a>
                    </div>
            </div>
        </div>
    </div>
</div>
