<div class="container-fluid">
    <div class="row">&nbsp;</div>

    <div class="row">
        <h4><b><u>Add new category</u></b></h4>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="categoryName" >Category Name</label>
            <input  id="categoryName" class="form-control" ng-model="categoryName">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <button type="button" class="btn btn-primary" ng-click="Submit();">Submit</button>
        </div>
    </div>
</div>
