    <div class="container-fluid" ng-controller="languageController">
        <div class="row">&nbsp;</div>
        <div class="row">
                <div class="col-sm-8"> <h4><b><u>List of Categories</u></b></h4> </div>
                <div class="col-sm-3" align="right"> <h4><b><a href="#addCategory">Add New Category</b></h4> </div>
                <div class="col-sm-1" align="right"> <h4><b><a href="#admin">Back</b></h4> </div>        
                </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-sm-12 table-responsive" ng-init="GetCategories();" style="height:300px; border:solid 2px #082a12; overflow: scroll">
                <div class="bg-success">
                    <div class="column col-sm-6">
                        <h4><b>&nbsp;<span><u>Category</u></span></b></h4>
                    </div>
                    <div class="column col-sm-6">
                        <h4><b>&nbsp;<span><u>Category Type</u></span></b></h4>
                    </div>
                </div>
                <div class="row" ng-repeat="language in categories">
                    <div class="column col-sm-6" >
                        <h4><b>&nbsp;
                            <a href="#editCategory/{{language._id}}">{{language.languageName}}</a>
                        </b></h4>
                    </div>
                    <div class="column col-sm-4" >
                            <h4><b>&nbsp;
                                {{language.categoryType}}
                            </b></h4>
                        </div>
                </div>
            </div>
        </div>
        <div align="center">
                <pagination 
                    items-per-page="numPerPage"
                    ng-model="currentPage" 
                    total-items="languagesReceived.length" 
                    max-size="maxSize" 
                    boundary-links="true">
                </pagination>
            </div>
    </div>