<html>
    <head>
        <title> CodeSnippets! </title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        
        <script type="text/javascript" src="config.json"></script>

        <script src="scripts/adal.js"></script>
        <script src="scripts/adal-angular.js"></script> 
        <script src="app.js"></script>
        <script src="user/home/homeService.js"></script>
        <script src="user/home/homeController.js"></script>
        
        <!-- <script src="scripts/config.js"></script> -->

        <script src="user/addcodesnippet/addCodeSnippetService.js"></script>
        <script src="user/addcodesnippet/addCodeSnippetController.js"></script>
        <script src="user/codesnippets/listCodeSnippetsService.js"></script>
        <script src="user/codesnippets/listCodeSnippetsController.js"></script>
        <script src="user/codesnippetdetail/codeSnipDetailService.js"></script>
        <script src="user/codesnippetdetail/codeSnipDetailController.js"></script>
        <script src="user/language/languageService.js"></script>
        <script src="user/language/languageController.js"></script>
        <script src="admin/adminController.js"></script>

        <style>
            div.viewheight{
                height: 320px;
            }
            div.codesnippetdetailheight{
                height: 300px;
            }
            pre.codesnippetdetailheight{
                height: 300px;
            }

            .boldHeader{
                font-weight: bold;
                font-size:18px
            }

            .PageHeaderBackgroundColor{
                background-color: #233a64;
            }

            .MiddleLayoutBackgroundColor{
                background-color: #e6f7ff;
            }

            .SideLayoutBackgroundColor{
                background-color: #e6f7ff;
            }
        </style>

    </head>

    <body ng-app="codeSnip">
        <div class="row PageHeaderBackgroundColor" ng-controller="homeController">
            <div class="col-sm-4"></div>
            <div class="column col-sm-4">`
                <div class="page-header"><h2><b><center><a href="#/" style="color: white; text-decoration: none">Code Snippets</a></font> </div> </center> </b> </h2>
            </div>
            <div class="col-sm-1"></div>
            <div class="column col-sm-3">
                <div class="row" align="right">
                    <font color="white"><b><span id="userName1">{{GreetingMessage}}</span></b></font>
                </div>
                <div class="row" align="right">
                    <a href="#admin" ng-hide="!isAdmin">Admin</a>&nbsp;&nbsp;&nbsp;
                    <a href="#/">Home</a>&nbsp;&nbsp;&nbsp;
                    <a href="logout.html">Logout</a>&nbsp;                    
                </div>
            </div>
        </div>

        <div class="row" style="height:540px;">
            <div class="SideLayoutBackgroundColor col-sm-2" ng-controller="languageController">
                <div class="row">&nbsp;</div>
                <h4><label><u>Filter by Category</u></label></h4>

                <div class="col-sm-12">
                    <div class="row">
                        <button style="text-align:left" class="btn btn-primary col-sm-12" type="button" data-toggle="collapse" data-target="#languages" aria-expanded="false" aria-controls="collapseExample">
                            Languages
                        </button>
                    </div>
                    <div class="collapse.show" id="languages">
                            <div class="card card-body">
                                <a href="" ng-repeat="language in Languages" ng-click="GetCodeSnippetsByLanguage(language.languageName);">
                                    <h5><b>{{language.languageName}}</b></h5>
                                </a>
                            </div>
                    </div>                    
                    <div class="row"> 
                        <button style="text-align:left" class="btn btn-primary col-sm-12" type="button" data-toggle="collapse" data-target="#tools" aria-expanded="false" aria-controls="collapseExample">
                            Tools
                        </button>
                    </div>
                    <div class="collapse" id="tools">
                        <div class="card card-body">
                            <a href="" ng-repeat="tool in Tools" ng-click="GetCodeSnippetsByLanguage(tool.languageName);">
                                <h5><b>{{tool.languageName}}</b></h5>
                            </a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <button style="text-align:left" class="btn btn-primary col-sm-12" type="button" data-toggle="collapse" data-target="#frameworks" aria-expanded="false" aria-controls="collapseExample">
                            Frameworks
                        </button>
                    </div>
                    <div class="collapse" id="frameworks">
                            <div class="card card-body">
                                <a href="" ng-repeat="framework in Frameworks" ng-click="GetCodeSnippetsByLanguage(framework.languageName);">
                                    <h5><b>{{framework.languageName}}</b></h5>
                                </a>
                            </div>
                        </div>
                    <div class="row">
                        <button style="text-align:left" class="btn btn-primary col-sm-12" type="button" data-toggle="collapse" data-target="#libraries" aria-expanded="false" aria-controls="collapseExample">
                            Libraries
                        </button>
                    </div>
                    <div class="collapse" id="libraries">
                            <div class="card card-body">
                                <a href="" ng-repeat="library in Libraries" ng-click="GetCodeSnippetsByLanguage(library.languageName);">
                                    <h5><b>{{library.languageName}}</b></h5>
                                </a>
                            </div>
                    </div>
                    <div class="row">
                            <button style="text-align:left" class="btn btn-primary col-sm-12" type="button" data-toggle="collapse" data-target="#others" aria-expanded="false" aria-controls="collapseExample">
                                Others
                            </button>
                        </div>
                        <div class="collapse" id="others">
                                <div class="card card-body">
                                    <a href="" ng-repeat="other in Others" ng-click="GetCodeSnippetsByLanguage(other.languageName);">
                                        <h5><b>{{other.languageName}}</b></h5>
                                    </a>
                                </div>
                        </div>
                </div>
            </div>

            <div class="MiddleLayoutBackgroundColor col-sm-8">
                <div ng-view></div>
            </div>

            <div class="SideLayoutBackgroundColor col-sm-2" ng-controller="languageController">
                <div class="row">&nbsp;</div>
                <h4><label><u>Filter by Tags</u></label></h4>

                <div class="col-sm-12" style="margin-left: -8%;">
                        <div class="card card-body">
                            <button type="button" style="margin: 2px;" class="btn btn-primary btn-xs" ng-repeat="tag in tags" ng-model="tags" ng-click="GetCodeSnippetsByTags(tag);">
                            {{ tag }}
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </body>

</html>