<html>

<head>
    <title> CodeSnippets! </title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="scripts/adal.js"></script>
    <script src="scripts/adal-angular.js"></script>
    <script src="app.js"></script>
    <script src="user/addcodesnippet/addCodeSnippetService.js"></script>
    <script src="user/addcodesnippet/addCodeSnippetController.js"></script>
    <script src="user/codesnippets/listCodeSnippetsService.js"></script>
    <script src="user/codesnippets/listCodeSnippetsController.js"></script>
    <script src="user/codesnippetdetail/codeSnipDetailService.js"></script>
    <script src="user/codesnippetdetail/codeSnipDetailController.js"></script>
    <script src="user/language/languageService.js"></script>
    <script src="user/language/languageController.js"></script>
</head>

<body ng-app="codeSnip">
    <div class="container">
        <div class="row" style="background:#082c42">
            <div class="col-md-4"></div>
            <div class="column col-md-4">
                <div class="page-header"><h2><b><center> <font color="white">Code Snippets</font> </div> </center> </b> </h2>
            </div>
            <div class="col-md-1"></div>
            <div class="column col-md-3">
                <div class="row" align="right">
                    <font color="white"><b>Welcome <span id="userName"></span></b></font>
                </div>
                <div class="row" align="right">
                    <a href="#admin">Admin</a>&nbsp;&nbsp;&nbsp;
                    <a href="#/">Home</a>&nbsp;&nbsp;&nbsp;
                    <a href="logout.html">Logout</a>&nbsp;
                </div>
            </div>
        </div>
        <div class="row" style="background:#94cdc4; height:550px;">
            <div class="col-sm-2" ng-controller="languageController">
                <div class="row">&nbsp;</div>

                <h4><label>Languages</label></h4>
                <div ng-repeat="language in languages" ng-click="GetCodeSnippetsByLanguage(language.languageName);"><h4><b>{{language.languageName}}</b></h4></div>
            </div>
            <div class="col-sm-10" style="background:#94cdc4">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('userName').innerHTML = sessionStorage.userName;
    </script>
</body>

</html>