<div class="viewheight" ng-controller="codeSnipDetailController" class="container-fluid">
        <div class="row">
            <div class="col-sm-12"><h3>{{snipDetail.title}}</h3></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" style="overflow:scroll;">
            <div class="col-sm-12" class="codesnippetdetailheight">
                <pre class="codesnippetdetailheight">{{snipDetail.codesnippet}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h4>Url Reference:</h4>
            </div>
            <div class="col-sm-10">
                <h5><a href="{{snipDetail.urlreference}}">{{snipDetail.urlreference}}</a></h5>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="form-group col-sm-10">
            <div class="col-sm-12" align="center">
                <a class="btn btn-primary" href="#editSnipDetail/{{_id}}">Edit</a>
                <button type="button" class="btn btn-primary" ng-click="Delete();">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="Back();">Back</button>
            </div>
        </div>
</div>