<div ng-controller="codeSnipDetailController" class="container-fluid">
        <div class="row">
            <div class="col-md-12"><h3>{{snipDetail.title}}</h3></div>
        </div>
        <div class="row" style="height:320px;overflow:scroll;">
            <div class="col-sm-12">
                <pre style="height: 350px;">{{snipDetail.codesnippet}}</pre>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="form-group col-md-10">
            <div class="col-sm-12" align="center">
                <a class="btn btn-primary" href="#editSnipDetail/{{ID}}">Edit</a>
                <button type="button" class="btn btn-primary" ng-click="Delete();">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="Back();">Back</button>
            </div>
        </div>
</div>