<div ng-controller="codeSnipDetailController" class="container-fluid">
    <form>
        <div class="table">
            <div class="row">&nbsp;</div>
            <div class="form-group col-sm-2">
                <label for="language">Category</label>
                <select id="language" class="form-control" ng-model="snipDetail.language" title="Select Category">
                    <option value="">Select</option>
                    <option ng-repeat="language in languages" value="{{language.languageName}}">{{language.languageName}}</option>
                </select>
            </div>
            <div class="form-group col-sm-10">
                <label for="title"> Title </label>
                <input id="title" class="form-control" type="text" ng-model="snipDetail.title">
            </div>
            <div class="form-group col-sm-12">
                <label for="codeSnip"> Code Snippet </label>
                <textarea id="codeSnip" class="form-control" rows="10" cols="100" ng-model="snipDetail.codesnippet"></textarea>
            </div>
            <div class="form-group col-sm-12">
                    <label for="codeSnip"> URL Reference </label>
                    <input id="urlreference" class="form-control" type="text" ng-model="snipDetail.urlreference">
            </div>
            <div class="row" style="margin-left: 0px;">
                    <div class="form-inline col-sm-12">
                        <label for="tags" style="width:150px">Tags (Labels)</label>
                        <input id="newTag" class="form-control" type="text" ng-model="newTag"> &nbsp;
                        <button type="button" class="btn btn-primary" ng-click="AddLabel();">Add</button> &nbsp;
                        
                        <button type="button" style="margin: 2px;" class="btn btn-primary btn-sm" ng-repeat="tag in tags" ng-model="tags" ng-click="RemoveLabel(tag)">
                                <span class="glyphicon glyphicon-remove"></span> {{ tag }} 
                        </button>
                    </div>
            </div>
            <div class="row">&nbsp;</div>

            <div class="form-group col-sm-12">
                <center>
                    <button type="button" class="btn btn-primary" ng-click="Update();">Update</button>
                    <a class="btn btn-primary" href="#snipDetail/{{_id}}">Back</a>
                </center>
            </div>
        </div>
    </form>
</div>