<script>
    document.getElementById("SearchInput").onkeydown = function(e){
        if(e.keyCode == 13){
            var searchText = document.getElementById('SearchInput').text;
            angular.element(document.getElementById('SearchButton')).scope().SearchCodeSnippets(searchText);
        }
     };
</script>

<div class="container-fluid" ng-controller="listCodeSnippetsController">
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-1">
            <h4><label>Search</label></h4>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="SearchInput" ng-model="SearchText"></input>
        </div>
        <div class="col-md-1"><button class="btn btn-primary" id="SearchButton" ng-click="SearchCodeSnippets();">Search</button> </div>
        <div class="col-md-3"></div>
        <div class="col-md-3" align="right">
            <h5><b><a href="#addSnip">Add Code Snippet</a></b></h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 table-responsive" ng-init="GetCodeSnippets();">
            <div style="height:300px; border:solid 2px gray">
                <table class="table table-condensed table-bordered">
                    <tr class="row " ng-repeat="snip in codeSnippets">
                        <td class="col-md-12">
                            <h4><b>
                                <a href="#snipDetail/{{snip._id}}">{{snip.title}}</a>
                            </b></h4>
                        </td>
                    </tr>
                </table>
            </div>
            <div align="center">
                <pagination 
                    items-per-page="numPerPage"
                    ng-model="currentPage" 
                    total-items="codeSnippetsReceived.length" 
                    max-size="maxSize" 
                    boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div>